<section
  id="wrapper"
  class="login-register login-sidebar"
  style="background-image: url(../../../../assets/login-register2.jpg)"
>
  <div class="login-box card">
    <div class="card-body">
      <form
        class="form-horizontal form-material"
        id="loginform"
        [formGroup]="registerForm"
        (ngSubmit)="createUser()"
      >
        <a routerLink="/home" class="text-center db"
          ><img
            src="../../../../assets/Dento_Logo.png"
            alt="Home"
            class="card-img"
        /></a>
        <small>Crea tu cuenta y disfruta</small>
        <div class="form-group m-t-20">
          <div class="col-xs-12">
            <input
              class="form-control"
              type="text"
              placeholder="Nombre"
              formControlName="name"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input
              class="form-control"
              type="text"
              placeholder="Apellidos"
              formControlName="lastName"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <select
              class="form-select"
              formControlName="type"
            >
              <option selected value="">Seleciona el tipo de usuario</option>
              <option *ngFor="let type of types" [ngValue]="type">
                {{ type }}
              </option>
            </select>
            <div class="invalid-feedback" *ngIf="registerForm?.invalid">
              <sup>*</sup>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input
              class="form-control"
              type="email"
              placeholder="Email"
              formControlName="email"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input
              class="form-control"
              type="password"
              placeholder="Contraseña"
              formControlName="password"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input
              class="form-control"
              type="password"
              placeholder="Confirma contraseña"
              formControlName="confirmPassword"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <div class="input-group mb-3">
              <input
                title="file"
                type="file"
                id="patient-img"
                name="patient-img"
                class="inputfile"
                (change)="onUpload($event)"
                required
              />
              <label for="patient-img" id="labelImage">
                <p class="label-text">Foto de perfil</p>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row mt-4">
          <div class="col-md-12">
            <div class="checkbox checkbox-primary p-t-0">
              <input
                id="checkbox-signup"
                type="checkbox"
                class="me-2"
                formControlName="terms"
              />
              <label for="checkbox-signup">
                Estoy de acuerdo con todos los <a href="#">terminos</a></label
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col text-danger">
            <p *ngIf="formNotValid('name')">* The name is requiere</p>
            <p *ngIf="formNotValid('lastName')">* The lastname is requiere</p>
            <p *ngIf="formNotValid('type')">* selecting a type is required</p>
            <p *ngIf="formNotValid('email')">* the email is required and must be valid</p>
            <p *ngIf="formNotValid('password')">* the password is required and minlength 6 characters</p>
            <p *ngIf="formSubmitted && !isImageSaved">* the image is requiered</p>
            <p *ngIf="passwordsNotValid()">* the passwords must be the same</p>
            <p *ngIf="aceptTerms()">* You must accept the terms of use</p>

          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button
              class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
              type="submit"
            >
              Registrarme
            </button>
          </div>
        </div>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            <p>
              ¿Ya tienes una cuenta?
              <a routerLink="/signIn" class="text-info m-l-5"><b>Entrar</b></a>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
