<main class="main">
  <section class="section-slider main-background-image">
    <div class="container-lg">
      <div class="section-content">
        <div class="jumbotron">
          <h1 class="display-4">
            Una sonrisa a la que no te podrás resistir.
          </h1>
          <p class="lead">
            Sonreír es definitivamente uno de los mejores y mas bellos remedios...
          </p>
          <a class="btn btn-lg" routerLink="/signIn" role="button"> Saber más </a>
        </div>
      </div>
    </div>
  </section>
  <section class="welcome_area_v3">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="icon_box type_three">
            <div class="icon-holder">
              <i class="fa-solid fa-tooth"></i>
            </div>
            <div class="text-holder">
              <h3>Máxima excenlencia</h3>
              <p>
                Antes de entregar nuestros productos los sometemos a un riguroso control sanitario.
              </p>
            </div>
            <span class="icon_absolute"><i class="fa-solid fa-tooth"></i></span>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="icon_box type_three">
            <div class="icon-holder">
              <i class="fa-solid fa-user-doctor"></i>
            </div>
            <div class="text-holder">
              <h3>Equipamiento odontológico</h3>
              <p>
                Contamos con las últimas tecnologías y las técnicas más novedosas para poder darte la mejor solución.
              </p>
            </div>
            <span class="icon_absolute"
              ><i class="fa-solid fa-user-doctor"></i
            ></span>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="icon_box type_three">
            <div class="icon-holder">
              <i class="fa-solid fa-teeth"></i>
            </div>
            <div class="text-holder">
              <h3>Clinica familiar </h3>
              <p>
                Nuestra atención se caracteriza por establecer una comunicación accesible y cercana con el paciente, ofreciendo la garantía y seguridad que busca, en un ambiente familiar y agradable.
               </p>
            </div>
            <span class="icon_absolute"><i class="fa-solid fa-teeth"></i></span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about_version_v3">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="about_left_content">
            <div class="section_title_v3">
              <h6>Bienvenido a nuestra clinica dental</h6>
              <h1>
                Siempre estarás seguro con nosotros, estamos listos para ayudarte en cualquier momento.
                </h1>
            </div>
            <div class="description">
              <p>
                Nuestra clínica está constituida por un grupo acreditado de profesionales del sector sanitario especializados en Odontología, quienes prestan sus servicios con el fin de recuperar y mejorar la salud buco-dental.Un trato personal refleja la preocupación de todos los que trabajamos para satisfacer a nuestros pacientes.
              </p>
            </div>
            <div class="texhnology clearfix">
              <ul class="treatment">
                <li>
                  <i class="fa-solid fa-arrow-right-long"></i
                  ><a routerLink="/signIn">Laboratorio avanzado</a>
                </li>
                <li>
                  <i class="fa-solid fa-arrow-right-long"></i
                  ><a routerLink="/signIn">Dentistas altamente calificados</a>
                </li>
                <li>
                  <i class="fa-solid fa-arrow-right-long"></i
                  ><a routerLink="/signIn">Los mejores equipos en nuestra clínica</a>
                </li>
                <li>
                  <i class="fa-solid fa-arrow-right-long"></i
                  ><a routerLink="/signIn"> Servicio de citas en línea</a>
                </li>
              </ul>
            </div>
            <div class="author-box fix">
              <div class="author-content">
                <div class="img-box">
                  <img
                    src="http://el.commonsupport.com/newwp/dento/wp-content/uploads/2019/12/ceo-1.png"
                    alt="Awesome Image"
                  />
                </div>
                <div class="text-box">
                  <h3>Dr. Lidia Jimenez</h3>
                  <span>CEO &amp; Fundadora</span>
                </div>
              </div>
              <div class="signatire-box">
                <img
                  src="http://el.commonsupport.com/newwp/dento/wp-content/uploads/2019/12/signature-1.png"
                  alt="Awesome Image"
                />
              </div>
            </div>
            <a class="theme_btn_v3" routerLink="/signIn">Saber más</a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about_right_content">
            <div class="image_box one">
              <img
                src="http://el.commonsupport.com/newwp/dento/wp-content/uploads/2020/07/about-3-1.jpg"
                class="img-fluid"
                alt="Awesome Image"
              />
            </div>
            <div class="image_box two">
              <img
                src="http://el.commonsupport.com/newwp/dento/wp-content/uploads/2020/07/about-3-2.jpg"
                class="img-fluid"
                alt="Awesome Image"
              />
              <div class="video-inner get">
                <a class="lightbox-image heartbeat" data-caption=" "
                  ><i class="fa-solid fa-play"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="brand-area">
    <div class="container">
      <div class="row">
        <div class="col col-md-12">
          <ul class="brand">
            <li class="single-item">
              <a href="#"
                ><img
                  src="http://el.commonsupport.com/newwp/dento/wp-content/uploads/2019/12/1-1.png"
                  alt="Awesome Brand Image"
              /></a>
            </li>
            <li class="single-item">
              <a href="#"
                ><img
                  src="http://el.commonsupport.com/newwp/dento/wp-content/uploads/2019/12/2-1.png"
                  alt="Awesome Brand Image"
              /></a>
            </li>
            <li class="single-item">
              <a href="#"
                ><img
                  src="http://el.commonsupport.com/newwp/dento/wp-content/uploads/2019/12/3-1.png"
                  alt="Awesome Brand Image"
              /></a>
            </li>
            <li class="single-item">
              <a href="#"
                ><img
                  src="http://el.commonsupport.com/newwp/dento/wp-content/uploads/2019/12/4-1.png"
                  alt="Awesome Brand Image"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
