<footer class="footer-area">
    <section class="footer-bottom-area">
      <div class="container">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="inner clearfix">
              <div class="footer-social-links float-left">
                <ul class="sociallinks-style-one">
                  <li>
                    <a
                      href="facebook.com"
                      style="
                        background-color: rgba(0, 0, 0, 0);
                        color: rgb(175, 189, 187);
                      "
                      ><i class="fa fa-facebook"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="linkedin.com"
                      style="
                        background-color: rgba(0, 0, 0, 0);
                        color: rgb(175, 189, 187);
                      "
                      ><i class="fa fa-linkedin"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="pinterest.com"
                      style="
                        background-color: rgba(0, 0, 0, 0);
                        color: rgb(175, 189, 187);
                      "
                      ><i class="fa fa-pinterest-square"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="skype.com"
                      style="
                        background-color: rgba(0, 0, 0, 0);
                        color: rgb(175, 189, 187);
                      "
                      ><i class="fa fa-skype"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="twitter.com"
                      style="
                        background-color: rgba(0, 0, 0, 0);
                        color: rgb(175, 189, 187);
                      "
                      ><i class="fa fa-twitter"></i
                    ></a>
                  </li>
                </ul>
              </div>
              <div class="copyright-text text-center">
                <p>© <a href="#">Dento</a> 2022, clinica dental</p>
              </div>
              <ul class="footer-menu float-right">
                <li><a href="#">Terminos &amp; Condiciones</a></li>
                <li><a href="#">Política de privacidad</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </footer>